body{
width:80%;
margin-left:10%;
margin-right:10%;
}


div.dataTables_filter {
  
  display: none!important;
}
div.dataTables_length label {
  display: none!important;
}
div.dataTables_info {
  display: none!important;
}
div.dataTables_paginate {
display: none!important;
}